<div>
    <h3>сброс My Cloud пароля учетной записи</h3>
    <a class="btn" href="{{ scheme }}://{{ host }}{% url 'pan:reset-done' param %}" target="_blank">Сброс пароля</a>
    <p>Привет, пользователь. Получен ваш запрос на сброс пароля. Пожалуйста, подтвердите, действительно ли это вы запрашивали</p>
    <p>Нажмите кнопку выше в течение 30 минут, чтобы сбросить пароль вашей учетной записи на{{ password }}. Пожалуйста, измените свой пароль как можно скорее после сброса。</p>
    <p>Спасибо！<br>
        My Cloud
    </p>
</div>